<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://az204demofunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a95df9bd-bf76-4022-a78c-53a40fd550b2/resourceGroups/rg-services/providers/Microsoft.Web/sites/Az204DemoFunction</ResourceId>
    <UserName>$Az204DemoFunction</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://az204demofunction.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>